{{ define "content" }}

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">{{ .Content }}</h1>
    </div>
</div>



<div class="alert alert-dark" role="alert">
    Todo List
</div>

<form action="/todos" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">New todo...</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="New todo...">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- <form action="/todos" method="POST">
    <input type="text" name="title" placeholder="New todo..." required>
    <button type="submit">Add Todo</button>
</form> -->

<ul>
    {{ range .todos }}
    <li>
        {{ .Title }}
        {{ if not .Completed }}
        <form action="/todos/{{ .ID }}/complete" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-primary">Complete</button>
        </form>
        {{ else }}
        <span>(Completed)</span>
        {{ end }}

        <a href="/todos/{{ .ID }}/edit">Edit</a>

        <form action="/todos/{{ .ID }}/delete" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </li>
    {{ else }}
    <li>No todos yet!</li>
    {{ end }}
</ul>
{{ end }}